# Working with PostgreSQL

Any Postgres work will need to be run in GitHub CodeSpaces as CoLab can't run Docker containers.
However, everything else will run in CoLab.

<a href="https://colab.research.google.com/github/rwcitek/C11-capstone-project/blob/main/eBird/ebird_sample_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Set up the workspace

In [1]:
!rm -rf data/
!docker container stop postgres || true

postgres

In [2]:
mkdir data

In [3]:
cd data

/workspaces/C11-capstone-project/eBird/data

In [4]:
pwd

'/workspaces/C11-capstone-project/eBird/data'

### Download some sample data

In [5]:
!curl -O 'https://ebird.org/downloads/samples/ebd-datafile-SAMPLE.zip'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  455k  100  455k    0     0   639k      0 --:--:-- --:--:-- --:--:--  638k

In [6]:
!ls -la

total 464
drwxrwxrwx+ 2 codespace codespace   4096 Nov 21 01:40 .
drwxrwxrwx+ 3 codespace root        4096 Nov 21 01:40 ..
-rw-rw-rw-  1 codespace codespace 466849 Nov 21 01:40 ebd-datafile-SAMPLE.zip

In [7]:
!unzip ebd-datafile-SAMPLE.zip

Archive:  ebd-datafile-SAMPLE.zip
   creating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
  inflating: __MACOSX/._ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._ebd_US-AL-101_202204_202204_relApr-2022.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/terms_of_use.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._terms_of_use.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/BCRCodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._BCRCodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/eBird_Basic_Dataset_Metadata_v1.14.pdf
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._eBird_Basic_Dataset_Metadata_v1.14.pdf
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/IBACodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._IBACodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/USFWSCodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._USFWSCodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/recommended_citation.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._recommended_citation.txt

In [8]:
!ls -la

total 472
drwxrwxrwx+ 4 codespace codespace   4096 Nov 21 01:40 .
drwxrwxrwx+ 3 codespace root        4096 Nov 21 01:40 ..
drwxrwxrwx+ 3 codespace codespace   4096 Nov 21 01:40 __MACOSX
-rw-rw-rw-  1 codespace codespace 466849 Nov 21 01:40 ebd-datafile-SAMPLE.zip
drwxr-xr-x+ 2 codespace codespace   4096 Jun  8  2022 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE

In [9]:
!rm -rf __MACOSX/

In [10]:
!tree ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/

ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
├── BCRCodes.txt
├── IBACodes.txt
├── USFWSCodes.txt
├── eBird_Basic_Dataset_Metadata_v1.14.pdf
├── ebd_US-AL-101_202204_202204_relApr-2022.txt
├── recommended_citation.txt
└── terms_of_use.txt

0 directories, 7 files

In [11]:
%%bash
wc -l ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt

1400 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt

### Load the data in a data frame

In [12]:
import pandas as pd

In [13]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [14]:
tsv = "ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt"
df = pd.read_csv( tsv, delimiter = '\t')

In [15]:
df.shape

(1399, 50)

In [16]:
df.head()

                          GLOBAL UNIQUE IDENTIFIER            LAST EDITED DATE  TAXONOMIC ORDER CATEGORY  TAXON CONCEPT ID    COMMON NAME        SCIENTIFIC NAME SUBSPECIES COMMON NAME SUBSPECIES SCIENTIFIC NAME EXOTIC CODE  OBSERVATION COUNT BREEDING CODE BREEDING CATEGORY BEHAVIOR CODE  AGE/SEX        COUNTRY COUNTRY CODE    STATE STATE CODE      COUNTY COUNTY CODE  IBA CODE  BCR CODE  USFWS CODE  ATLAS BLOCK                                           LOCALITY LOCALITY ID LOCALITY TYPE   LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  OBSERVER ID SAMPLING EVENT IDENTIFIER PROTOCOL TYPE PROTOCOL CODE PROJECT CODE  DURATION MINUTES  EFFORT DISTANCE KM  EFFORT AREA HA  NUMBER OBSERVERS  ALL SPECIES REPORTED GROUP IDENTIFIER  HAS MEDIA  APPROVED  REVIEWED  REASON TRIP COMMENTS SPECIES COMMENTS  Unnamed: 49
0  URN:CornellLabOfOrnithology:EBIRD:OBS1408495335  2022-04-29 18:30:39.479487            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                                                  B   L17937964             P  32.176196 -86.352121       2022-04-29                  16:05:00  obsr2929208                S108412716     Traveling           P22        EBIRD              84.0               1.305             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
1  URN:CornellLabOfOrnithology:EBIRD:OBS1406077901  2022-04-27 12:30:42.055848            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                                   Gunter Hill Park    L2612930             H  32.358285 -86.454432       2022-04-26                  17:00:00   obsr106380                S108209563     Traveling           P22        EBIRD              60.0               1.609             NaN                 2                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
2  URN:CornellLabOfOrnithology:EBIRD:OBS1401854254  2022-04-23 22:11:46.383377            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  2           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                  Old Pike Rd, Montgomery County AL   L18656953             P  32.310409 -86.101011       2022-04-23                  17:19:00   obsr527452                S107858673     Traveling           P22        EBIRD               6.0               9.740             NaN                 4                     1         G8230647          0         1         0     NaN           NaN              NaN          NaN
3  URN:CornellLabOfOrnithology:EBIRD:OBS1414367166  2022-05-04 09:36:46.461973            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  3           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN               Ramer, Alabama, US (32.106, -86.025)   L18839420             P  32.105727 -86.024669       2022-04-28                  06:17:00  obsr1095129                S108900410     Traveling           P22        EBIRD              35.0               0.306             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
4  URN:CornellLabOfOrnithology:EBIRD:OBS1395326171  2022-04-17 14:31:51.742159            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN  70–98 Boardwalk, Pike Road US-AL 32.34562, -86...   L18556586             P  32.345618 -86.032910       2022-04-17                  12:29:00  obsr2935536                S107309707    Stationary           P21        EBIRD              61.0                 NaN             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN

In [17]:
df["Unnamed: 49"].isnull().sum()

1399

In [18]:
df.drop( columns = "Unnamed: 49", inplace = True )
df.shape

(1399, 49)

In [19]:
!curl -O https://raw.githubusercontent.com/rwcitek/brooks-data-science-toolbox/main/functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3628  100  3628    0     0  63649      0 --:--:-- --:--:-- --:--:-- 63649

In [20]:
!ls -la

total 472
drwxrwxrwx+ 3 codespace codespace   4096 Nov 21 01:40 .
drwxrwxrwx+ 3 codespace root        4096 Nov 21 01:40 ..
-rw-rw-rw-  1 codespace codespace 466849 Nov 21 01:40 ebd-datafile-SAMPLE.zip
drwxr-xr-x+ 2 codespace codespace   4096 Jun  8  2022 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE
-rw-rw-rw-  1 codespace codespace   3628 Nov 21 01:40 functions.py

## Set up PostgreSQL in Docker

This will download a postgres Docker image and run a container instance named `postgres`, listening on port 5432.

In [21]:
%%bash
docker container run --rm -d \
    -p 5432:5432 \
    -e POSTGRES_USER=user-name \
    -e POSTGRES_PASSWORD=strong-password \
    --name postgres \
    postgres

sleep 10

1d7cd9dce9506f67e75224b3ab0d2388fae34e42276397fee7890c6326a1c029

In [22]:
%%script docker container exec -i postgres psql -U user-name -h localhost
SELECT version();

                                                       version
---------------------------------------------------------------------------------------------------------------------
 PostgreSQL 16.1 (Debian 16.1-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
(1 row)

In [23]:
%%capture output
%%bash
pip install sqlalchemy psycopg2

### Query Postgres from Python

In [24]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker

In [25]:
DATABASE_URL = "postgresql://user-name:strong-password@localhost/postgres"

In [26]:
# Create a SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [27]:
# Create a session factory
Session = sessionmaker(bind=engine)

In [28]:
# Establish a connection to the PostgreSQL database
try:
    # Create a session
    session = Session()

    # Example: Execute a simple query
    result = session.execute(text("SELECT version();"))
    version = result.scalar()
    print("PostgreSQL version:", version)

    # Example: Execute another query
    # result = session.execute(text("SELECT * FROM your_table;"))
    # data = result.fetchall()
    # for row in data:
    #     print(row)

except Exception as error:
    print("Error connecting to PostgreSQL:", error)

finally:
    # Close the session
    if session:
        session.close()
        print("Session closed.")

PostgreSQL version: PostgreSQL 16.1 (Debian 16.1-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
Session closed.

### This doesn't work, yet.

In [29]:
# Establish a connection to the PostgreSQL database
new_database = "eBird"
query = f'''
    CREATE DATABASE {new_database};
'''

# Establish a connection to the PostgreSQL server with the admin credentials
try:
    # Execute a query to create a new database
    with engine.connect() as connection:
        connection.execute(text(query))
        print(f"Database '{new_database}' created successfully.")

except Exception as error:
    print("Error creating PostgreSQL database:", error)

finally:
    # Dispose of the engine to close any open connections
    engine.dispose()
    print("Engine disposed.")

Error creating PostgreSQL database: (psycopg2.errors.ActiveSqlTransaction) CREATE DATABASE cannot run inside a transaction block

[SQL:
    CREATE DATABASE eBird;
]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Engine disposed.

### Quick-n-dirty way to create a database.

In [30]:
%%script docker container exec -i postgres psql -U user-name -h localhost
create database eBird ;

CREATE DATABASE

In [31]:
%%script docker container exec -i postgres psql -U user-name -h localhost -l
;

                                                          List of databases
   Name    |   Owner   | Encoding | Locale Provider |  Collate   |   Ctype    | ICU Locale | ICU Rules |      Access privileges
-----------+-----------+----------+-----------------+------------+------------+------------+-----------+-----------------------------
 ebird     | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
 postgres  | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
 template0 | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           | =c/"user-name"             +
           |           |          |                 |            |            |            |           | "user-name"=CTc/"user-name"
 template1 | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           | =c/"user-name"             +
           |           |          |                 |            |            |            |           | "user-name"=CTc/"user-name"
 user-name | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
(5 rows)