# Working with PostgreSQL

Any Postgres work will need to be run in GitHub CodeSpaces as CoLab can't run Docker containers.
However, everything else will run in CoLab.

<a href="https://colab.research.google.com/github/rwcitek/C11-capstone-project/blob/main/eBird/ebird_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Download some sample data

In [1]:
!curl -O 'https://ebird.org/downloads/samples/ebd-datafile-SAMPLE.zip'

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  455k  100  455k    0     0   338k      0  0:00:01  0:00:01 --:--:--  338k

In [2]:
!ls -la

total 472
drwxr-xr-x 1 root root   4096 Nov 20 21:43 ./
drwxr-xr-x 1 root root   4096 Nov 20 21:37 ../
drwxr-xr-x 4 root root   4096 Nov 17 14:33 .config/
-rw-r--r-- 1 root root 466849 Nov 20 21:43 ebd-datafile-SAMPLE.zip
drwxr-xr-x 1 root root   4096 Nov 17 14:37 sample_data/

In [4]:
!unzip ebd-datafile-SAMPLE.zip

Archive:  ebd-datafile-SAMPLE.zip
   creating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
  inflating: __MACOSX/._ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._ebd_US-AL-101_202204_202204_relApr-2022.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/terms_of_use.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._terms_of_use.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/BCRCodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._BCRCodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/eBird_Basic_Dataset_Metadata_v1.14.pdf
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._eBird_Basic_Dataset_Metadata_v1.14.pdf
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/IBACodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._IBACodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/USFWSCodes.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._USFWSCodes.txt
  inflating: ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/recommended_citation.txt
  inflating: __MACOSX/ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/._recommended_citation.txt

In [5]:
!ls -la

total 480
drwxr-xr-x 1 root root   4096 Nov 20 21:43 ./
drwxr-xr-x 1 root root   4096 Nov 20 21:37 ../
drwxr-xr-x 4 root root   4096 Nov 17 14:33 .config/
-rw-r--r-- 1 root root 466849 Nov 20 21:43 ebd-datafile-SAMPLE.zip
drwxr-xr-x 2 root root   4096 Jun  8  2022 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
drwxr-xr-x 3 root root   4096 Nov 20 21:43 __MACOSX/
drwxr-xr-x 1 root root   4096 Nov 17 14:37 sample_data/

In [6]:
!rm -rf __MACOSX/

In [7]:
!find ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/

ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/terms_of_use.txt
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/recommended_citation.txt
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/BCRCodes.txt
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/eBird_Basic_Dataset_Metadata_v1.14.pdf
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/USFWSCodes.txt
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/IBACodes.txt
ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt

In [9]:
%%bash
wc -l ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt

1400 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt

### Load the data in a data frame

In [10]:
import pandas as pd

In [14]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [11]:
tsv = "ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/ebd_US-AL-101_202204_202204_relApr-2022.txt"
df = pd.read_csv( tsv, delimiter = '\t')

In [12]:
df.shape

(1399, 50)

In [15]:
df.head()

                          GLOBAL UNIQUE IDENTIFIER            LAST EDITED DATE  TAXONOMIC ORDER CATEGORY  TAXON CONCEPT ID    COMMON NAME        SCIENTIFIC NAME SUBSPECIES COMMON NAME SUBSPECIES SCIENTIFIC NAME EXOTIC CODE  OBSERVATION COUNT BREEDING CODE BREEDING CATEGORY BEHAVIOR CODE  AGE/SEX        COUNTRY COUNTRY CODE    STATE STATE CODE      COUNTY COUNTY CODE  IBA CODE  BCR CODE  USFWS CODE  ATLAS BLOCK                                           LOCALITY LOCALITY ID LOCALITY TYPE   LATITUDE  LONGITUDE OBSERVATION DATE TIME OBSERVATIONS STARTED  OBSERVER ID SAMPLING EVENT IDENTIFIER PROTOCOL TYPE PROTOCOL CODE PROJECT CODE  DURATION MINUTES  EFFORT DISTANCE KM  EFFORT AREA HA  NUMBER OBSERVERS  ALL SPECIES REPORTED GROUP IDENTIFIER  HAS MEDIA  APPROVED  REVIEWED  REASON TRIP COMMENTS SPECIES COMMENTS  Unnamed: 49
0  URN:CornellLabOfOrnithology:EBIRD:OBS1408495335  2022-04-29 18:30:39.479487            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                                                  B   L17937964             P  32.176196 -86.352121       2022-04-29                  16:05:00  obsr2929208                S108412716     Traveling           P22        EBIRD              84.0               1.305             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
1  URN:CornellLabOfOrnithology:EBIRD:OBS1406077901  2022-04-27 12:30:42.055848            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                                   Gunter Hill Park    L2612930             H  32.358285 -86.454432       2022-04-26                  17:00:00   obsr106380                S108209563     Traveling           P22        EBIRD              60.0               1.609             NaN                 2                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
2  URN:CornellLabOfOrnithology:EBIRD:OBS1401854254  2022-04-23 22:11:46.383377            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  2           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN                  Old Pike Rd, Montgomery County AL   L18656953             P  32.310409 -86.101011       2022-04-23                  17:19:00   obsr527452                S107858673     Traveling           P22        EBIRD               6.0               9.740             NaN                 4                     1         G8230647          0         1         0     NaN           NaN              NaN          NaN
3  URN:CornellLabOfOrnithology:EBIRD:OBS1414367166  2022-05-04 09:36:46.461973            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  3           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN               Ramer, Alabama, US (32.106, -86.025)   L18839420             P  32.105727 -86.024669       2022-04-28                  06:17:00  obsr1095129                S108900410     Traveling           P22        EBIRD              35.0               0.306             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN
4  URN:CornellLabOfOrnithology:EBIRD:OBS1395326171  2022-04-17 14:31:51.742159            20762  species  avibase-9E9F2476  American Crow  Corvus brachyrhynchos                    NaN                        NaN         NaN                  1           NaN               NaN           NaN      NaN  United States           US  Alabama      US-AL  Montgomery   US-AL-101       NaN        27         NaN          NaN  70–98 Boardwalk, Pike Road US-AL 32.34562, -86...   L18556586             P  32.345618 -86.032910       2022-04-17                  12:29:00  obsr2935536                S107309707    Stationary           P21        EBIRD              61.0                 NaN             NaN                 1                     1              NaN          0         1         0     NaN           NaN              NaN          NaN

In [17]:
df["Unnamed: 49"].isnull().sum()

1399

In [19]:
df.drop( columns = "Unnamed: 49", inplace = True )
df.shape

(1399, 49)

In [20]:
!curl -O https://raw.githubusercontent.com/rwcitek/brooks-data-science-toolbox/main/functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3628  100  3628    0     0  14833      0 --:--:-- --:--:-- --:--:-- 14808

In [21]:
!ls -la

total 480
drwxr-xr-x 1 root root   4096 Nov 20 21:53 ./
drwxr-xr-x 1 root root   4096 Nov 20 21:37 ../
drwxr-xr-x 4 root root   4096 Nov 17 14:33 .config/
-rw-r--r-- 1 root root 466849 Nov 20 21:43 ebd-datafile-SAMPLE.zip
drwxr-xr-x 2 root root   4096 Jun  8  2022 ebd_US-AL-101_202204_202204_relApr-2022_SAMPLE/
-rw-r--r-- 1 root root   3628 Nov 20 21:53 functions.py
drwxr-xr-x 1 root root   4096 Nov 17 14:37 sample_data/

## Set up PostgreSQL in Docker

This will download a postgres Docker image and run a container instance named `postgres`, listening on port 5432.

In [22]:
%%bash
docker container run --rm -d \
    -p 5432:5432 \
    -e POSTGRES_USER=user-name \
    -e POSTGRES_PASSWORD=strong-password \
    --name postgres \
    postgres

237cf2110943adebe2da3b2910949aaa227f3b4c5a9a9b3962d2bd9766128c33

In [23]:
%%script docker container exec -i postgres psql -U user-name -h localhost
SELECT version();

                                                       version
---------------------------------------------------------------------------------------------------------------------
 PostgreSQL 16.1 (Debian 16.1-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
(1 row)

In [6]:
%%capture output
%%bash
pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.8/lib/python3.10/site-packages (2.0.23)
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 6.7 MB/s eta 0:00:0000:01
  Installing build dependencies: started

  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: typing-extensions>=4.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.8/lib/python3.10/site-packages (from sqlalchemy) (3.0.1)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml): started
  Building wheel for psycopg2 (pyproject.toml): finished with status 'done'
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584201 sha256=9f58929e3ee90212df129fe9770c25716099fae10a34d99b3567cccefde4d161
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

### Query Postgres from Python

In [3]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker

In [15]:
DATABASE_URL = "postgresql://user-name:strong-password@localhost/postgres"

In [16]:
# Create a SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [17]:
# Create a session factory
Session = sessionmaker(bind=engine)

In [14]:
# Establish a connection to the PostgreSQL database
try:
    # Create a session
    session = Session()

    # Example: Execute a simple query
    result = session.execute(text("SELECT version();"))
    version = result.scalar()
    print("PostgreSQL version:", version)

    # Example: Execute another query
    # result = session.execute(text("SELECT * FROM your_table;"))
    # data = result.fetchall()
    # for row in data:
    #     print(row)

except Exception as error:
    print("Error connecting to PostgreSQL:", error)

finally:
    # Close the session
    if session:
        session.close()
        print("Session closed.")

PostgreSQL version: PostgreSQL 16.1 (Debian 16.1-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit
Session closed.

### This doesn't work, yet.

In [20]:
# Establish a connection to the PostgreSQL database
new_database = "eBird"
query = f'''
    CREATE DATABASE {new_database};
'''

# Establish a connection to the PostgreSQL server with the admin credentials
try:
    # Execute a query to create a new database
    with engine.connect() as connection:
        connection.execute(text(query))
        print(f"Database '{new_database}' created successfully.")

except Exception as error:
    print("Error creating PostgreSQL database:", error)

finally:
    # Dispose of the engine to close any open connections
    engine.dispose()
    print("Engine disposed.")

Error creating PostgreSQL database: (psycopg2.errors.ActiveSqlTransaction) CREATE DATABASE cannot run inside a transaction block

[SQL:
    CREATE DATABASE eBird;
]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Engine disposed.

### Quick-n-dirty way to create a database.

In [1]:
%%script docker container exec -i postgres psql -U user-name -h localhost
create database eBird ;

CREATE DATABASE

In [2]:
%%script docker container exec -i postgres psql -U user-name -h localhost -l
;

                                                          List of databases
   Name    |   Owner   | Encoding | Locale Provider |  Collate   |   Ctype    | ICU Locale | ICU Rules |      Access privileges
-----------+-----------+----------+-----------------+------------+------------+------------+-----------+-----------------------------
 ebird     | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
 postgres  | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
 template0 | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           | =c/"user-name"             +
           |           |          |                 |            |            |            |           | "user-name"=CTc/"user-name"
 template1 | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           | =c/"user-name"             +
           |           |          |                 |            |            |            |           | "user-name"=CTc/"user-name"
 user-name | user-name | UTF8     | libc            | en_US.utf8 | en_US.utf8 |            |           |
(5 rows)